/* "Noto serif" and "Inter" fonts imported from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  background: #f5f8ff;
  font-family: "Inter", sans-serif;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

/* Shared styles for entire landing page */
.container {
  max-width: 1140px;
  width: 80%;
  margin-inline: auto;
}
p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  font-weight: 400;
}
/* Start of Navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
nav .nav-right ul,
nav .nav-right {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav-right a {
  display: block;
  font-size: 1rem;
  line-height: 1.5ram;
  text-transform: capitalize;
  color: #8987a1;
}
.nav-links li:first-child {
  color: #252432;
  font-weight: 700;
}
.nav-right a span {
  color: #000;
}
.nav-right a:last-child {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-right a i {
  font-size: 1.5rem;
  color: #000000;
}
/* End of Navbar styles */

/* Start of Hero Area */
.hero-area {
  display: flex;
  align-items: end;
  /* padding-top: 256px; */
}
.hero-area .hero-text h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 12px;
  color: #111;
}
.hero-text h1 span {
  color: #e95a08;
}
/* End of Hero Area */
